@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_01_mixins.scss';
@import './_02_variables';
@import './_03_core.scss';
@import './_04_plugins.scss';
@import './_05_views.scss';
@import './matrix.scss';

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

.logo-img {
    height: 50px;
}

.top-callout {
    margin: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.88);
}

.top-callout-text {
    margin: 0px 0px 32px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.88);
}
